.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0; /* Ou une autre couleur de fond */
  }
  
  .logo {
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 1rem;
  }
.h1 {
  color: black;
  height: 1.5em;
}