.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color:#1a1a32;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 1rem;
}

.h1 {
  color: #fff;
  height: 1.5em;
}

* {
color: #fff;
}

* {
background-color: #1a1a32;
}