.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 1rem;
}

.h1 {
  color: #fff;
  height: 1.5em;
}

* {
color: #fff;
}

* {
background-color: #1a1a32;
}

@media (max-width: 768px) {
  .logo {
    padding: 0.5rem; /* Réduire le padding autour du logo */
  }

  .logo img { /* Cibler l'image du logo */
    max-width: 80%; /* Réduire la largeur maximale */
    height: auto;  /* Garder les proportions de l'image */
  }
}
