.tile-panel {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #727272; /* Fond gris clair */
}

a, * {
  color: black
}

* {
  background-color: #727272;
}