.tile-panel {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #1a1a32; /* Fond gris clair */
}

a, * {
  color: black
}

* {
  background-color: #1a1a32;
}

.tile span, a {
  background-color: rgba(0, 0, 0, 0);
}