.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 10px;
  background-color: #1a1a32;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 7em;
  justify-content: center;
}

.tile a {
  justify-self: center;
  vertical-align: middle;
}

.tile:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  background-color: #353e75;
  border-color: white;
}

.tile span {
  font-weight: 500;
}

*, a, p {
  text-decoration: none;
  color:#fff;
  background-color: transparent;
}

.tile-image {
  width: 6em;
  height: auto;
  margin-bottom: 10px;
  background-color: transparent;
}

@media (max-width: 768px) { 
  .tile {
    padding: 15px;
    min-height: 5em;
    font-size: 14px;
  }

  .tile-image {
    width: 5em;
  }
}
